<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>血糖评测</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="__PUBLIC__/suggest/css/common.css">
</head>
<body>
	<div class="allBox">
		<div class="top_title">
			<volist name="res" id="res">
			<span>{$res}</span> 血糖测量详情
			</volist>
		</div>
		<div class="blood">
			<div class="circle01">
				<volist name="temp" id="res">
				<p>{$res}</p>
				</volist>
				<p>mmol/L</p>
				<p>餐后</p>
			</div>
			<div class="circle02">
				<a href="tel:010-51758587"><img src="__PUBLIC__/suggest/phone.png" alt=""></a>
				<p>健康咨询师</p>
			</div>
		</div>
		<ul class="detail">
			<h5 class="detailTitle">血糖报告</h5>
			<li>餐后偏低</li>
			<h5 class="detailTitle">对照标准</h5>
			<li>餐后偏低<span>血糖&lt; 3.9</span></li>
			<li>餐后正常<span>血糖3.9～7.7</span></li>
			<li>餐后偏高<span>血糖7.8～11.1</span></li>
			<li>餐后严重偏高<span>血糖&gt;11.1</span></li>
		</ul>
		<h5 class="detailTitle">医学专家建议</h5>
		<ul class="detailUl02">
			<li>
				<p>在医学上，正常人血浆葡萄糖浓度&lt;2.8mmol/L可诊断为低血糖，对于糖尿病患者血糖&lt;3.9mmol/L即可诊断为低血糖。建议您通过以下几个方面改善血糖状况：<br /><br />
				1、饮食方面：尽可能地定时定量进餐；使用有可能造成低血糖的药物后，如果睡前血糖&lt;7.0毫摩尔/升，为了避免夜间发生低血糖，可以在睡前少量加餐；尽量不饮酒或少饮酒，尤其是不能空腹饮酒。具体的饮食原则请参考后文第四点。<br />
				2、运动方面：在运动前后以及运动过程中及时监测血糖，以便及时发现低血糖；运动时要随身携带能较快补充血糖的食物，比如饼干、糖果和含糖饮料等；如果运动量比平时大，可在运动前适量加餐，或在运动过程中进食缓慢吸收的碳水化合物，以防低血糖发生。<br />
				3、睡眠方面：提升睡眠质量，规律作息时间；养成午休的习惯，利于平稳血糖。<br />
				4、药物：应用胰岛素等有可能导致低血糖的药物时，要了解这些药物的起效时间，并在起效时间内进餐；药物使用须从小剂量开始，逐渐增加剂量并谨慎调整；对于老年糖友而言，应尽量选择起效快、作用时间短、低血糖风险小的口服降糖药或胰岛素剂型，避免使用长效降糖药；④掌握胰岛素注射技巧，保证把胰岛素正确注射到皮下组织。注意胰岛素的注射部位，如果餐后可能去运动，那么餐前胰岛素应该在腹部注射，一般不要注射到大腿和上臂上，以免肢体运动加快胰岛素的吸收。<br />
				5、保持乐观积极的心态对血糖的平稳有着潜移默化的作用。</p>
				<br />
				一、低血糖的症状<br />
			   低血糖时身体会发生各种不适，如下：<br />
				1、心慌、饥饿、软弱无力、手足颤抖、面色苍白、出汗、心率加快和血压轻度升高等；<br />
				2、会伴有神经系统症状，症状轻者表现为精神不集中，思维和语言迟钝，头晕、嗜睡、视物不清、步态不稳，可有幻觉、躁动、易怒、行为怪异；严重者会神志不清、癫痫样抽搐的表现，最后还有可能陷入昏迷，甚至死亡。<br />
				3、忧郁、焦虑，渴望甜食，饥饿感强；<br />
				4、足部肿大、胸闷气短，身体各部分伴有疼痛感。
			</li>
			<li>
				二、低血糖的病因：<br />
				 1.葡糖糖的过度利用：<br />
				 （1）高胰岛素血症；<br />
				 （2）肿瘤。<br />
				 2.葡萄糖生成不足：<br />
				 （1）肝糖原累计病；<br />
				 （2）内分泌疾病；<br />
				 （3）严重肝病及肝淤血；<br />
				 （4）肾病晚期；<br />
				 （5）半乳糖血症（因半乳糖1磷酸尿嘧啶核苷转化酶缺陷，使半乳糖不能转化为葡萄糖）；<br />
				 （6）其他：长期饮酒（抑制糖原异生）；脓毒血症；饥饿；恶液质；剧烈运动等。<br />
				 3.饮食结构不合理
			</li>
			<li>
				三、低血糖的危害：<br />
				1、血糖低于2.5～2.8mmol/L时，大脑皮层受抑制，进而产生中枢神经系统(脑部)症状。自主神经系统症状的出现往往早于神经低血糖症状。<br />
				2、低血糖有可能诱发心绞痛、急性心肌梗死、心律失常、脑卒中等。<br />
				3、持续性的严重低血糖会引起意识模糊、定向力丧失、嗜睡、精神失常等；<br />
				4、严重时会造成对脑细胞的损害而导致惊厥、昏迷基至死亡。<br />
			</li>
			<li>
				四、低血糖饮食原则：<br />
				1、少吃多餐；一天大约吃6～8餐。睡前吃少量的零食及点心也会有帮助。除此要交替食物种类，不要经常吃某种食物，因为过敏症常与低血糖症有关，食物过敏将恶化病情，使症状更复杂。<br />
				2、均衡饮食：饮食应该力求均衡，最少包含50一60%的碳水化合物(和糖尿病患者同样的饮食原则)，包括蔬菜，糙米，酪梨，魔芋，种子，核果，谷类，瘦肉，鱼，酸乳，生乳酪。<br />
				3、应加以限制的食物：严格限制单糖类摄取量，要尽量少吃精制及加工产品(例如：速食米及马铃薯)，汽水，酒，盐。也少吃通心粉，面条，肉汁，白米。<br />
				4、增加高纤维饮食；高纤饮食有助于稳定血糖浓度，当血糖下降时，可将纤维与蛋白质食品合用(例如，麦麸饼子加生乳酪或杏仁果酱)。吃新鲜苹果取代苹果酱，苹果中的纤维能抑制血糖的波动，也可加一杯果汁，以迅速提升血糖浓度。<br />
				5、戒烟禁酒：酒精，咖啡因，抽烟都将严重影响血糖的稳定，最好能戒除或少用。<br />
				6、补充营养素：铬，维生素B群，硫胺素(B1)，烟碱素(B3）及维生素B12加泛酸(B5)，钙加镁，锌，蛋白质分解酵素等。
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="__PUBLIC__/suggest/js/common.js"></script>	
</body>
</html>