<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>血糖评测</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="__PUBLIC__/suggest/css/common.css">
</head>
<body>
	<div class="allBox">
		<div class="top_title">
			<volist name="res" id="res">
			<span>{$res}</span> 血糖测量详情
			</volist>
		</div>
		<div class="blood">
			<div class="circle01">
				<volist name="temp" id="res">
				<p>{$res}</p>
				</volist>
				<p>mmol/L</p>
				<p>餐前</p>
			</div>
			<div class="circle02">
				<a href="tel:010-51758587"><img src="__PUBLIC__/suggest/phone.png" alt=""></a>
				<p>健康咨询师</p>
			</div>
		</div>
		<ul class="detail">
			<h5 class="detailTitle">血糖报告</h5>
			<li>餐前严重偏高</li>
			<h5 class="detailTitle">对照标准</h5>
			<li>餐前偏低<span>血糖&lt; 3.9</span></li>
			<li>餐前正常<span>血糖3.9～6.1</span></li>
			<li>餐前偏高<span>血糖6.1～7.0</span></li>
			<li>餐前严重偏高<span>血糖&gt;7.0</span></li>
		</ul>
		<h5 class="detailTitle">医学专家建议</h5>
		<ul class="detailUl02">
			<li>
				<p>如果在用餐前血糖值&gt;7.0mmol/L，那么就需要提高警惕，应及早到医院进行相关检查，找到病因及时治疗，避免造成不可挽回的伤害。建议您通过以下几个方面改善血糖状况：<br /><br />
				1、饮食方面：需要严格控制饮食，平衡膳食，饮食多样化，做到主食粗细搭配，副食荤素搭配；控制体重，避免食用肥肉、全脂和油炸食品，选用鱼类、瘦肉等低脂蛋白食品，多吃粗粮、蔬菜等高纤维食品；限盐、戒酒、戒烟。具体的饮食原则请参考后文第四点。<br />
				2、运动方面：血糖过高不适宜激烈运动，只能进行低强度运动，如慢跑、爬山、太极等；运动一定要在安全有效的前提下进行，明显升高或者明显降低时不适合运动，应待血糖稳定后再进行运动；制定运动处方，应在相关医师的指导下进行，而且隔一段时间身体血糖有了变化之后需要及时调整运动处方；④运动要适量，也要适时，不要在饥饿或饱食后立即运动。<br />
				3、睡眠方面：保证睡眠质量，规律作息时间，因为失眠会导致血糖升高；养成午休的习惯，利于平稳血糖。<br />
				4、药物：降糖药的选用需要根据糖尿病的病情发展来定，结合药物的特点以及自身情况，选择适合自己的药物；选择作用机制互补的两种或多种降糖药物进行治疗，可延缓糖尿病慢性并发症的发生和发展；平稳降糖，避免低血糖；④目前临床上常用的降糖药物较多，如：双胍类、胰岛素促泌剂、α-糖苷酶抑制剂等，需要在医生指导下服用。<br />
				5、控制自己的情绪，保持良好的心情有利于血糖的控制，过于紧张、激动会导致血糖大幅度升降，危害极大。</p>
				<br />
				一、餐前血糖严重偏高的症状<br />
			   	1、多尿。糖尿病患者机体内食物转化为糖的效率下降，导致血液中糖含量升高。身体为了保护自己，不得不通过尿液排出多余糖分，致使尿量明显增多。<br />
				2、口渴。排尿增加会导致口干舌燥，这时不要用含糖饮料解渴，以免增加血液中糖含量，加重病情。<br />
				3、体重略减轻。超重是糖尿病的危险因素，体重略减轻听起来似乎并非糖尿病的标志。<br />
				4、虚弱和饥饿感。高血糖意味着身体调节血糖出现了问题，如果吃了高碳水化合物食物(如精米和白面)，胰岛素会升高，引起血糖迅速下降。<br />
				5、持续疲劳感。持续疲劳是一个重要征兆，这可能意味着吃的食物没有分解或被细胞利用。<br />
				6、喜怒无常，脾气暴躁。血糖异常时会感觉不舒服，可能变得更加暴躁<br />
				7、视物模糊。在糖尿病的早期阶段，因为葡萄糖在眼睛积聚，暂时改变其形状，导致眼睛不能聚焦。<br />
				8、伤口愈合慢。糖尿病患者血糖水平升高，免疫功能下降，导致身体自愈能力减弱。<br />
				9、脚发麻。血糖浓度升高后，可能出现轻度神经损伤，引起双脚麻木。
			</li>
			<li>
				二、餐前血糖严重偏高的原因<br />
				1、摄食过多特别是甜食或含糖饮料。过度肥胖。<br />
				2、情绪或精神上的压力过重。运动量明显减少，胰岛素不能有效发挥作用。<br />
				3、饮酒可导致低血糖，也可导致高血糖。<br />
				4、所使用的胰岛素或口服降糖药的剂量不够。
			</li>
			<li>
				三、餐前血糖严重偏高的危害<br />
				1、急性并发症<br />
				（1）糖尿病酮症酸中毒本症是糖尿病最常见的急性并发症，常见于1 型糖尿病，多发生于代谢控制不良、伴发感染、严重应激、胰岛素治疗中断以及饮食失调等情况。2 型糖尿病如代谢控制差、伴有严重应激时亦可发生。延误诊断或治疗可致死亡。在幼龄或高龄、昏迷或低血压的患者死亡率更高。在美国有经验的医疗中心其病死率＜5%，但在我国基层医院病死率可高达10%。<br />
				（2）糖尿病非酮症性高渗综合征<br />
				本综合征多见于老年患者。由于严重高血糖症及水、电解质平衡紊乱而致昏迷、休克和多器官功能衰竭。本综合征病死率极高，即使在水平高的医院死亡率仍可高达15%。<br />
				（3）乳酸性酸中毒<br />
				糖尿病合并乳酸性酸中毒的发生率不高，但病死率很高。大多发生在伴有肝、肾功能不全，或伴有慢性心肺功能不全等缺氧性疾病患者，尤其是同时服用苯乙双胍者。主要是由于体内无氧酵解的糖代谢产物—乳酸大量堆积导致高乳酸血症，进一步出现体液PH 降低，导致乳酸性酸中毒。<br />
				2、慢性并发症<br />
				（1）代谢综合征<br />
				向心性肥胖、高血压、血脂异常、胆石症、高尿酸血症以及多囊卵巢综合征等经常与糖尿病簇聚发生（即代谢综合征），更增加了糖尿病心血管病变的危险性。<br />
				（2）勃起功能障碍<br />
				十分常见，约半数的2 型糖尿病患者有之，主要为糖尿病自主神经病变所致。<br />
				（3）急、慢性感染<br />
				糖尿病患者细胞免疫及体液免疫功能减低常易伴发尿路、胆道感染、皮肤的真菌或细菌感染，以及肺炎和肺结核等。
			</li>
			<li>
				四、餐前血糖严重偏高的饮食原则<br />
				1、以下食品不宜食用<br />
				（1）易于使血糖迅速升高的食物：白糖、红糖、冰糖、葡萄糖、麦芽糖、蜂蜜、巧克力、奶糖、水果糖、蜜饯、水果罐头、汽水、果汁、甜饮料、果酱、冰淇淋、甜饼干、蛋糕、甜面包及糖制糕点等。<br /> 
				（2）易使血脂升高的食物：牛油、羊油、猪油、黄油、奶油、肥肉，对富含胆固醇的食物，更应特别注意，应该不用或少用，防止动脉硬化性心脏病的发生。<br />
				（3）不宜饮酒。因为酒中所含的酒精不含其他营养素只供热能，每克酒精产热约7千卡(294焦)，长期饮用对肝脏不利，而且易引起血清甘油三脂的升高。少数服磺脲类降糖药的病人，饮酒后易出现心慌、气短、面颊红燥等反应。<br />
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注意，胰岛素的患者空腹饮酒易引起低血糖，所以，为了病人的安全还是不饮酒为佳。<br /><br />
				2、适宜吃的食物<br />
				主要是可延缓血糖、血脂升高的食物。<br />
				（1）大豆及其制品：这类食品除富含蛋白质、无机盐、维生素之外，在豆油中还有较多的不饱和脂肪酸，既能降低血胆固醇，又能降低血甘油三脂，所含的谷固醇也有降脂作用。<br />
				（2）粗杂糖：如莜麦面、荞麦面、热麦片、玉米面含多种微量元素，维生素B和食用纤维。实验证明，它们有延缓血糖升高的作用。可用玉米面、豆面、白面按2：2：1的比例做成三合面馒头、烙饼、面条，长期停用，既有利于降糖降脂，又能减少饥饿感。<br />
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="__PUBLIC__/suggest/js/common.js"></script>	
</body>
</html>