<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>血糖评测</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<link rel="stylesheet" href="__PUBLIC__/suggest/css/common.css">
</head>
<body>
	<div class="allBox">
		<div class="top_title">
			<volist name="res" id="res">
			<span>{$res}</span> 血糖测量详情
			</volist>
		</div>
		<div class="blood">
			<div class="circle01">
				<volist name="temp" id="res">
				<p>{$res}</p>
				</volist>
				<p>mmol/L</p>
				<p>餐前</p>
			</div>
			<div class="circle02">
				<a href="tel:010-51758587"><img src="__PUBLIC__/suggest/phone.png" alt=""></a>
				<p>健康咨询师</p>
			</div>
		</div>
		<ul class="detail">
			<h5 class="detailTitle">血糖报告</h5>
			<li>餐前偏高</li>
			<h5 class="detailTitle">对照标准</h5>
			<li>餐前偏低<span>血糖&lt; 3.9</span></li>
			<li>餐前正常<span>血糖3.9～6.1</span></li>
			<li>餐前偏高<span>血糖6.1～7.0</span></li>
			<li>餐前严重偏高<span>血糖&gt;7.0</span></li>
		</ul>
		<h5 class="detailTitle">医学专家建议</h5>
		<ul class="detailUl02">
			<li>
				<p>如果在用餐前血糖值处于6.1~7.0mmol/L之间，即为餐前高血糖。若测量时间为早餐前，可视为黎明现象，可于餐后测量后再做判定；若测量时间在两餐之间，可能受到前一餐食物的影响，用餐时需注意少食含糖食物。建议您通过以下几个方面改善血糖状况：<br /><br />
				1、饮食方面：需要平衡膳食结构，饮食多样化，做到主食粗细搭配，副食荤素搭配；避免食用肥肉、全脂和油炸食品，选用鱼类、瘦肉等低脂蛋白食品，多吃粗粮、蔬菜等高纤维食品；限盐、限酒、戒烟。具体的饮食原则请参考后文第四点。<br />
				2、运动方面：运动一定要在安全有效的前提下进行，明显升高或者明显降低时不适合运动，应待血糖稳定后再进行运动；制定运动处方，应在相关医师的指导下进行，而且隔一段时间身体血糖有了变化之后需要及时调整运动处方；运动要适量，也要适时，不要在饥饿或饱食后立即运动。<br />
				3、睡眠方面：保持规律的作息时间，失眠会导致血糖升高，需要保证睡眠质量；养成午休的习惯，利于平稳血糖。<br />
				4、药物：降糖药的选用需要根据糖尿病的病情发展来定，结合药物的特点以及自身情况，选择适合自己的药物；选择作用机制互补的两种或多种降糖药物进行治疗，可延缓糖尿病慢性并发症的发生和发展；平稳降糖，避免低血糖；④目前临床上常用的降糖药物较多，如：双胍类、胰岛素促泌剂、α-糖苷酶抑制剂等，需要在医生指导下服用。<br />
				5、控制自己的情绪，不可过于激动、愤怒、紧张，保持良好的心情有利于血糖的控制。</p>
				<br />
				一、餐前血糖偏高的症状<br />
			   	1、心跳快速，呼吸缓而深。在未经过激烈运动时也会感到心跳速度明显比以前快速，呼吸困难。<br />
				2、极度口渴。尿多之后使体内的水分减少，当体内水的总量减少1~2%时，即可引起大脑口渴中枢的兴奋而思饮，产生极度口渴的生理现象。<br />
				3、尿糖测试呈阳性反应。这也是血糖高的一个重要的症状。<br />
				4、尿多，皮肤干燥，脱水。尿多不仅指尿的次数增多，而且尿量也增多，24小时可达20多次，有些高血糖尿量可达2-3升以致10升之多。甚至尿的泡沫多，尿渍发白、发粘。多尿是由于血糖升高，超过肾糖阈(8.9~10mmol/l)，排入尿中的糖多，于是尿次数与尿量增多。<br />
				5、经常恶心，干呕，身体不适，呕吐不断，腹部偶有胀痛，不消化等症状。
			</li>
			<li>
				二、餐前血糖偏高的原因<br />
				1、摄食过多特别是甜食或含糖饮料。过度肥胖。<br />
				2、情绪或精神上的压力过重。运动量明显减少，胰岛素不能有效发挥作用。<br />
				3、饮酒可导致低血糖，也可导致高血糖。<br />
				4、所使用的胰岛素或口服降糖药的剂量不够。
			</li>
			<li>
				三、餐前血糖偏高的危害<br />
				1、疲乏无力：由于胰岛素缺乏时，血液中的葡萄糖不能正常地进入细胞中燃烧产生能量，细胞不能获得足够的能量;而且细胞又不能很好地将葡萄糖转化为其它物质储存起来，当血糖超过肾闭值时，糖由尿中排出，造成体内能源的浪费，故全身疲乏无力。<br />
				2、导致各种血管、神经慢性伴随症状<br />
				糖尿病患者长期高血糖会伤害血管（包括大血管及微血管）及神经（主要是感觉神经及自主神经），导致心脑血管疾病、糖尿病肾病、视网膜病变、周围神经病变、糖尿病足坏疽等慢性伴随症状的发生与发展。<br />
				3、因为纯葡萄糖是固体物质，必须溶于水中才能经肾随尿排出体外，因此高血糖患者葡萄糖经肾排出时必然带走——定量的水分，尿中糖越多、从体内带走的水分就越多，多尿能带走体内的电解质，导致水、电解质代谢紊乱。<br />
				4、导致胰岛功能衰竭<br />
				高血糖对胰岛B细胞具备“毒性作用”，糖尿病患者如果长期发现高血糖，将导致胰岛功能衰竭、胰岛素分泌更少和患病情况进行性变坏。<br />
				5、引起消瘦、乏力、抵抗力降低<br />
				长期高血糖状态下，葡萄糖不能够非常好地被机体吸收利用而是从尿中大量丢失，机体通过分解脂肪和蛋白质来提供能量，结果导致全身消瘦、乏力，机体免疫力下降。<br />
				6、导致机体脱水及高渗性昏迷<br />
				高血糖致使大量葡萄糖随尿排泄，引起渗透性利尿，导致机体脱水。脱水使得细胞外液渗透压增高，水分由细胞内向细胞外转移引起细胞内失水，脑细胞失水可引起脑功能紊乱直至昏迷，临床上称之为“高渗性昏迷。
			</li>
			<li>
				四、餐前血糖偏高的饮食原则<br />
				1、高血糖饮食的重点不应该是完全的素食和挑食，偏食。高血糖饮食是要求高血糖患者在各种可以降低血糖的食物中得到日常所需的营养成分。<br />
				2、戒酒戒烟。酒精中含有太多的热量。酒精的主要成分是乙醇。乙醇产生的热量是可以让血糖直线飙升到临界点的。<br />
				3、杂粮和粗粮可以帮助抑制过高的血糖。这个高血糖饮食是一个老生常谈的话题了。粗粮一直是国际卫生组织推崇的世界健康食品之一。<br />
				4、在高血糖饮食中一位的限制糖分的摄入可是不可取的。的确，糖分是引起高血糖的主要元凶。但是，一位的限制糖分摄入，会使得菜肴的味道过于单一。<br />
				5、控制总的热量。高血糖饮食的关键就是食用的饮食都要控制一个总的热量才行。<br />
				建议多食用南瓜、黄瓜、洋葱、苦瓜等降糖食物，同时也要加强锻炼，有助于控制血糖。
			</li>
		</ul>
	</div>
	<script type="text/javascript" src="__PUBLIC__/suggest/js/common.js"></script>	
</body>
</html>