<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员收益</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="__PUBLIC__/css/share.css">
</head>
<body>
	<div class="member">
		<div class="memberKong"></div>
		<img src="__PUBLIC__/img/member-title.png" alt="" class="memberImg01">
		<div class="memberCon">
			<img src="__PUBLIC__/img/member-con.png" alt="" class="memberConImg">
			<img src="__PUBLIC__/img/member-we.png" alt="" class="memberWe">
		</div>
		<img src="__PUBLIC__/img/member-bot.png" alt="" class="memberBot">
	</div>
<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>	
<script type="text/javascript" src="__PUBLIC__/js/share.js"></script>	
</body>
</html>