<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>分享有奖</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="__PUBLIC__/css/share.css">
</head>
<body>
	<div class="sharebox">
		<div class="kong"></div>
		<img src="__PUBLIC__/img/share-title.png" alt="" class="shareImg01">
		<img src="__PUBLIC__/img/share-present.png" alt="" class="shareImg02">
		<img src="__PUBLIC__/img/share-we.png" alt="" class="shareImg03">
		<div class="shareCon">
			<p class="shareLeft">将血糖测试结果分享到微信朋友圈或者分享给微信好友，分享成功后截图发给我们的客服人员即可领取健康礼品一份。</p>
			<img src="__PUBLIC__/img/share-right.png" alt="" class="shareRight">
		</div>
		<a href="" class="returnA">点击跳转到血糖测试结果</a>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>	
	<script type="text/javascript" src="__PUBLIC__/js/share.js"></script>	
</body>
</html>