<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>晒一晒</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="__PUBLIC__/css/share.css">
</head>
<body>
	<div class="show">
		<div class="showKong"></div>
		<img src="__PUBLIC__/img/show-title.png" alt="" class="showImg01">
		<img src="__PUBLIC__/img/show-pp.png" alt="" class="showImg02">
		<img src="__PUBLIC__/img/show-con.png" alt="" class="showImg03">
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>	
	<script type="text/javascript" src="__PUBLIC__/js/share.js"></script>	
</body>
</html>