<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>设备二维码</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="__PUBLIC__/css/common.css">
	
</head>
<body>

	<div class="allbox">
		<div class="success" >
			<volist name="url" id="res">
			<img src="{$res}" alt="" style="width:200px;height:200px;">
			</volist>
			<p>二维码</p>
			<a href="JavaScript:WeixinJSBridge.call('closeWindow');">确定</a>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>	
	<script type="text/javascript" src="__PUBLIC__/js/jquery-1.11.3.min.js"></script>
</body>
</html>