<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>取消关注</title>
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />   
	<meta name="apple-mobile-web-app-status-bar-style" content="black" /> <meta name="format-detection" content="telephone=no" />
	<link rel="stylesheet" href="__PUBLIC__/css/common.css">
</head>
<body>
	<div class="allbox">
		<div class="unfollow">
			<p class="unfollowTitle">
				能接收到测量数据的微信用户
			</p>
			<ul class="unfollowUl">
				<li>
					<div class="unfollow_circle01">
						<div class="unfollow_circle02">
							<img src="__PUBLIC__/img/personalPhoto.png" alt="">
						</div>
					</div>
					<span class="unfollowName">宋彦龙</span>
					<input type="button" value="取消关注" class="unfollowBut">
					<div class="clear"></div>
				</li>
				<li>
					<div class="unfollow_circle01">
						<div class="unfollow_circle02">
							<img src="__PUBLIC__/img/personalPhoto.png" alt="">
						</div>
					</div>
					<span class="unfollowName">宋彦龙</span>
					<input type="button" value="取消关注" class="unfollowBut">
					<div class="clear"></div>
				</li>
				<li>
					<div class="unfollow_circle01">
						<div class="unfollow_circle02">
							<img src="__PUBLIC__/img/personalPhoto.png" alt="">
						</div>
					</div>
					<span class="unfollowName">宋彦龙</span>
					<input type="button" value="取消关注" class="unfollowBut">
					<div class="clear"></div>
				</li>
				<li>
					<div class="unfollow_circle01">
						<div class="unfollow_circle02">
							<img src="__PUBLIC__/img/personalPhoto.png" alt="">
						</div>
					</div>
					<span class="unfollowName">宋彦龙</span>
					<input type="button" value="取消关注" class="unfollowBut">
					<div class="clear"></div>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>	
</body>
</html>